@import '../global.scss';
.product{
    img{
        max-height: 200px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .text{
        h3{
            a{
                color: $secondary-color;
                font-size: 20px;
            }
        }
        .price{
            color: $secondary-color;
        }
        button{
            @include button;
            border: none;
        }
    }     
} 