$primary-color:#b3ec49;
$secondary-color:#7db80f;
$dark-color:#42852e;
@mixin button{
    color: $secondary-color;
    background-color: $primary-color;
    border: none;

    &:hover,
    &:active{
      background-color: $secondary-color;
      color: #000;
      border: none;
    }
}